# ONDEMAND_API_KEY = "PG7sityNauAzfTKOt8adghv5Zbck6F9J"
FINNHUB_API_KEY = "insert_your_finnhub_api_key_here"
GOOGLE_API_KEY = "insert_your_google_api_key_here"
GROQ_API_KEY = "insert_your_groq_api_key_here"
DRF_SECRET_KEY = 'insert_your_drf_secret_key_here'
CREWAI_TRACING_ENABLED=false
CREWAI_TELEMETRY_ENABLED=false

DB_NAME = "insert_your_db_name_here"
DB_USER = "insert_your_db_user_here"
DB_PASSWORD = "insert_your_db_password_here"
DB_HOST = "insert_your_db_host_here"
DB_PORT = "insert_your_db_port_here"